.profile__avatar-act {
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    transition: all .2s linear;
    border-radius: 50%;
}

.profile__avatar-act:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .8);
    background-image: url(../../../images/Vector2ACT.svg);
    background-repeat: no-repeat;
    background-position: center;

}