.header {
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    padding: 45px 0 38px 0;
    display: flex;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 934px) {
    .header {
      padding-left: 27px;
      padding-right: 27px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .header {
      padding: 28px 30px 27px;
    }
  }